@import '~bootstrap/dist/css/bootstrap.min.css';
.content{
    min-height: 550px;
}

.add-form{
    float: left;
    border-right: 2px solid chocolate;
    padding: 25px;

}
.view-contacts{
    float: left;
    position: relative;
    padding: 25px;
}

.submit-btn {
    border: 1px solid chocolate;
    margin-top: 10px;
    background-color: chocolate;
    padding: 10px;
    color: black;
}

.contact-details-info{
    padding: 20px 30px;
	border-right: 1px solid chocolate;
	border-top: 1px solid chocolate;
	border-bottom: 1px solid chocolate;
    border-left: 1px solid chocolate;
    margin: 0 0 20px;
    font-family: 'Courgette', cursive;
}

input[type="submit"]:disabled {
    background: gray;
}