@import '~bootstrap/dist/css/bootstrap.min.css';
.content{
    min-height: 550px;
}

.add-form{
    float: left;
    border-right: 2px solid chocolate;
    padding: 25px;

}
.view-contacts{
    float: left;
    position: relative;
    padding: 25px;
}

.submit-btn {
    border: 1px solid chocolate;
    margin-top: 10px;
    background-color: chocolate;
    padding: 10px;
}